<footer class="site-footer">
  <div class="wrapper">
    <h3 class="footer-heading">{{ site.title }}</h3>
    <div class="footer-col-wrapper">
      <div class="footer-col">
        <p class="text">{{ site.description }}</p>
        <p>
          Ce site est mis en place dans le cadre du concours de référencement
          du <a href="http://cours-de-referencement.ec-lille.fr/">cours de référencement</a>
          de la <a href="http://chaire-ecommerce.ec-lille.fr/">Chaire E-Business et Mobilité de l'Ecole Centrale de Lille</a>.
        </p>
      </div>
    </div>
  </div>
</footer>
