<!DOCTYPE html>
<html lang="fr" xmlns:og="http://ogp.me/ns#">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    {% if page.title =='Le glossaire du référencement SEO' %}
    <script type="text/javascript">
    $(document).ready(function() {

      //fonction scrollTo
      $('.scrollTo').click( function() { // Au clic sur un élément
        var page = $(this).attr('href'); // Page cible
        var speed = 400; // Durée de l'animation (en ms)
        console.log(page);
        if (page == "#top"){
          $('html, body').animate( { scrollTop: 0 }, speed ); // Go
        }
        else{
          $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
        }
        return false;
      });
    });
    </script>
    {% endif %}
  </body>

</html>
