<!DOCTYPE html>
<html lang="fr" xmlns:og="http://ogp.me/ns#">

{% include head.html %}

<body>

  {% include header.html %}

  <div class="page-content">
    <div class="wrapper">
      {{ content }}
    </div>
  </div>

  {% include footer.html %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  {% if page.title =='Le glossaire du référencement SEO' %}
  <script type="text/javascript">
  $(document).ready(function() {

    //fonction scrollTo
    $('.scrollTo').click( function() { // Au clic sur un élément
      var page = $(this).attr('href'); // Page cible
      var speed = 400; // Durée de l'animation (en ms)
      console.log(page);
      if (page == "#top"){
        $('html, body').animate( { scrollTop: 0 }, speed ); // Go
      }
      else{
        $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
      }
      return false;
    });
  });
  </script>
  {% endif %}

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71250809-1', 'auto');
  ga('send', 'pageview');
  </script>

</body>

</html>
